# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bin
*.asm


# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#vscode
.vscode

#third party
erika/third_party/wermit/ckcpro.c
erika/third_party/wermit/wart
erika/third_party/wermit/wermit

## builds
# hello world
hello_world/hello_world
hello_world/boot.cmd
*.scr

# hello world v2
hello_world_v2.0/build
hello_world_v2.0/kermit_upload

# ErikaOS applications
erika/apps/*/*/build
erika/testcases/*/*/build
erika/thesis_examples/*/build/

erika/kermit_upload
erika/.build_helper
erika/.gdb_helper

# RT-druid
erika/third_party/rt_druid/configuration/org.eclipse.core.runtime/
erika/third_party/rt_druid/configuration/org.eclipse.osgi/
erika/third_party/rt_druid/evidence/workspace/
erika/third_party/rt_druid/configuration/*.log
