# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bin
*.asm


# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#vscode
.vscode

#third party
erika/third_party/wermit/ckcpro.c
erika/third_party/wermit/wart
erika/third_party/wermit/wermit

## builds
# hello world
hello_world/hello_world
hello_world/boot.cmd
*.scr

# hello world v2
hello_world_v2.0/build
hello_world_v2.0/kermit_upload

# EEtest0 ErikaOS application
erika/am1808_ee_app/build
erika/kermit_upload
